html {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: cornflowerblue;
}

footer {
    background-color: darkslategrey;
    color: whitesmoke;
}
ul {
    width: 15%;
    margin: auto;
}

